<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ridicule admin page</title>
  </head>

  <body>
    <form action="#" method="POST">
      Mocks Enabled: {{#if enabled}} True
      <input type="hidden" name="enabled" value="">
      <input type="submit" value="Disable">
      {{else}}False
      <input type="hidden" name="enabled" value="true">
      <input type="submit" value="Enable">
      {{/if}}
    </form>
  </body>
</html>
